<!DOCTYPE html>

<html ng-app="formApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="formCtrl">

    <form name="myForm">

        Name: <input type="text" ng-model="user.name" ng-pattern="/^[A-Za-z ]+$/" required /><br>

        Mobile: <input type="text" ng-model="user.mobile" ng-pattern="/^\d{10}$/" required /><br>

        Pin Code: <input type="text" ng-model="user.pin" ng-pattern="/^\d{6}$/" required /><br>

        Email: <input type="email" ng-model="user.email" ng-pattern="/^[^@]+@[^@]+\.[^@]+$/" required /><br>

        <p ng-show="myForm.$invalid">Form is invalid!</p>

        <p ng-show="myForm.$valid">Form is valid!</p>

  </form>
  
</body>
</html>
