<!DOCTYPE html>
<html ng-app="validateApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="validateCtrl">
  Username: <input type="text" ng-model="username" /><br>
  Password: <input type="password" ng-model="password" /><br>
  <button ng-click="validate()">Validate</button>
  <p>{{message}}</p>

  <script>
    angular.module("validateApp", []).controller("validateCtrl", function($scope) {
      $scope.validate = function() {
        if (!$scope.username) {
          $scope.message = "Enter username";
        } else if ($scope.username.length < 3) {
          $scope.message = "Username is too short";
        } else if (!$scope.password || $scope.password.length < 8) {
          $scope.message = "Password must be at least 8 characters";
        } else {
          $scope.message = "Valid username";
        }
      };
    });
  </script>
</body>
</html>
