<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
  <title>Username Validation</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

  <h2>Username & Password Validation</h2>
  <form name="loginForm" ng-submit="validate()">
    Username: <input type="text" ng-model="username"><br><br>
    Password: <input type="password" ng-model="password"><br><br>
    <button type="submit">Check</button>
  </form>

  <p style="color:red" ng-show="msg">{{msg}}</p>

  <script>
    angular.module("myApp", [])
    .controller("myCtrl", function ($scope) {
      $scope.validate = function () {
        if (!$scope.username) {
          $scope.msg = "Enter username";
        } else if ($scope.username.length < 3) {
          $scope.msg = "Username is too short";
        } else if (!$scope.password || $scope.password.length < 8) {
          $scope.msg = "Password should be minimum 8 characters";
        } else {
          $scope.msg = "Valid username and password!";
        }
      };
    });
  </script>

</body>
</html>
